.find_links {
  display: flex;
  justify-content: space-between;
  margin: 40px 20px;
}
.find_links a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.3);
}
.find_links a i {
  font-size: 27px;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.5);
}
.recommended_friends {
  height: 150px;
  padding: 20px;
  color: rgba(0, 0, 0, 0.3);
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.recommended_friends__colum {
  text-align: center;
  margin-top: 50px;
}

.open_chat_home {
  display: flex;
  height: 20px;
  width: 100%;
  margin: 5px;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
}
.open_chat__colum {
  display: flex;
  height: 120px;
}
.open_chat__colum_card {
  display: flex;
}
.open_chat__colum_card_text {
  display: flex;
  flex-direction: column;
}
.open_chat__colum_card_title {
  font-size: 18px;
  font-weight: 600;
}
.open_chat__colum_card_owner {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.open_chat__colum_card_descriptions,
.open_chat__colum_card_member_count {
  color: rgba(0, 0, 0, 0.3);
}
.open_chat__colum_card_run {
  color: pink;
}
.open_chat__colum_card_main_img {
  height: 120px;
  width: 120px;
  align-items: center;
}
