.screen-header {
  display: flex;
  font-size: 28px;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0px;
  font-weight: 400;
}
.header__icons :nth-child(n) {
  margin-right: 10px;
}
